<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文档-群星</title>
    <link type="text/css" rel="stylesheet" href="./css_s/cen.css">
    <link rel="stylesheet"  href="./bootstrap-5.3.0-alpha1-dist/css/bootstrap.css">
</head>
<body>

<div class="btn-group" role="group" data-bs-toggle="buttons">
    <label class="btn btn-success active">
        <input type="checkbox" class="me-2" name="" id="" checked autocomplete="off"> Choice
    </label>
    <label class="btn btn-success">
        <input type="checkbox" class="me-2" name="" id="" autocomplete="off"> Choice
    </label>
    <label class="btn btn-success">
        <input type="checkbox" class="me-2" name="" id="" autocomplete="off"> Choice
    </label>
</div>

</body>

<!-- <script src="./jquery-min.js"></script> -->
<script src="./bootstrap-5.3.0-alpha1-dist/js/bootstrap.min.js"></script>
</html>