<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}"/>
    <title>注册</title>
</head>

<body>
{#<form class="login-container" method="post" id='login_window'>#}
{#    <div class="left-container">#}
{#        <div class="title"><span>注册</span></div>#}
{#        <div class="input-container">#}
{#            <input type="text" name="username" placeholder="用户名" id='username'>#}
{#            <input type="email" id="email" placeholder="邮件" name=email>#}
{#            <input type="text" id="captcha" placeholder="验证码" name="captcha">#}
{#            <input type="password" name="password" placeholder="密码" id='password'>#}
{#            <input id="study_password" placeholder="学号" name=stu_id>#}
{#        </div>#}
{#        <div class="input-container-append">#}
{#            <button class="btn btn-outline-secondary" type="button" id="captcha-btn">获取验证码</button>#}
{#        </div>#}
{#    </div>#}
{#    <div class="right-container">#}
{#        <div class="action-container" id="submit_login">#}
{#            <span>提交</span>#}
{#        </div>#}
{#        <button type="submit" class="btn btn-primary btn-block">立即注册</button>#}
{#    </div>#}
{#</form>#}

<form class="login-container" role="form" method="post" id='enroll_window'>
    <div class="left-container">
        <div class="title"><span>注册</span></div>
        <div class="enroll-container">
            <input type="text" name="username" placeholder="用户名" id='username'>
            <input type="email" id="email" placeholder="邮件" name=email>
            <input type="text" id="captcha" placeholder="验证码" name="captcha">
            <input type="password" name="password" placeholder="密码" id='password'>
            <input id="study_password" placeholder="学号" name=stu_id>
        </div>
        <div class="enroll-container-append">
            <button class="btn_btn-primary_btn-block" type="button" id="captcha-btn">获取验证码</button>
        </div>
    </div>

    <div class="right-container">
        <div class="regist-container">
            <div class="action-container" id="enroll_enrolling">
                <span>提交</span>
            </div>
        <button type="submit" class="btn_btn-primary_btn-block">立即注册</button>
            <div class="action-container" id = "enroll_return">
                <span>返回</span>
            </div>
        </div>

    </div>

</form>


<video autoplay loop src="{{ url_for('static', filename = 'video/Sparkling - 27212.mp4') }}" muted
       id='login_video'></video>

</body>
<script src="{{ url_for('static', filename = 'js/jquery-min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/register.js') }}" type="text/javascript"></script>
</html>